{% extends 'frontend/base.html' %}
{% block title %} About {% endblock %}
{% block content %}

<div class="jumbotron">

    <h1 class="display-3">About Page</h1>
    <p class="lead">Jumbo helper text</p>
    <hr class="my-2">
    <p>More info</p>
    <p class="lead"></p>
        <a class="btn btn-primary btn-lg" href="Jumbo action link role="button">Click Detail</a>
    </p>

</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>ชื่อบทความ {{ nature.name }}</h1>
            <h4>ผู้แต่ง {{ nature.author }}</h4>
            <ul>
                {% for tag in nature.tags %}
                <li>{{ tag }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>    
    <div class="row">
        <div class="col-lg-12">
            <h1>ชื่อบทความ {{ computer.name }}</h1>
            <h4>ผู้แต่ง {{ computer.author }}</h4>
            <ul>
                {% for tag in nature.tags %}
                <li>{{ tag }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>        
</div>

{% endblock %}